extends layout

block content
  h1= title
    - var results = [{"color":"Black", "quality":CleanTitle,"cost":5000},{"color":"Blue","quality":Salvaged,"cost":4000},{"color":"White","quality":Rebuilt,"cost":3000}]
       div(class="container-fluid")
         div(class="row")
            each val,i in results
              div(class="col-sm-2" onClick=`buy(${i})`)
                p #{val.color}
                p #{val.quality}
                p #{val.cost}
                
script.
                     function  buy(i){

                        alert(`You purchased item ${i+1}.`)

                     }